.h2
{
	text-align:center;
	font-size:80px;
	color:blue;
	text-shadow:8px 5px 15px red;
}

#h1
{
	font-size:50px;
	color:blue;
	text-shadow:8px 5px 15px red;
	
}



body
	{
	background-image:url("Rubiks-3D-Wallpaper-HD-Free-For-Desktop-High-Quality.png");
	background-attachment:fixed;
	}
#h3
	{
	text-align:center;
	font-size:50px;
	color:black;
	text-shadow:5px 5px 10px brown;
	
	}

th
{
font-size:30px;
color:orange;
text-shadow:5px 5px 10px red;
padding: 30px;
text-align: left;
}

a
{
color:blue;
}
